.search-page {
  padding: 24px 24px 24px 24px;
  box-sizing: border-box;

  h2 {
    max-width: 1280px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
  }

  .search-page-hr + h2 {
    margin-top: 24px;
  }
}

.search-page-hr {
  border: 1px solid #eeeeee;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 16px;
}

.search-list {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    > a:first-of-type {
      margin-right: 16px;
    }
  }

}

// .search-list li {
// }

// .search-list li > a:first-of-type {
//   margin-right: 16px;
// }

.search-list-item-thumbnail, .search-list-item-channel-btn {
  width: 246px;
  height: 138px;
}

.search-list-item-info h4 {
  font-size: 18px;
  margin-bottom: 4px;
}

.search-list-item-details, .search-list-item-details a {
  color: #11111199;
}

.search-list-item-details a:hover {
  color: black;
}

.search-list-item-channel-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  .channel-button {
    border-radius: 50%;
    background-color: var(--profile-btn-color);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}

// .search-list-item-channel-btn .channel-button {
//   border-radius: 50%;
//   background-color: var(--profile-btn-color);
//   font-size: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: white;
// }

.search-list-item-description {
  margin-top: 8px;
}
