.channel-show {
  // for details of videos
  color: #707070;
  // for title and headers
  color: #111111;
  position: relative;
  width: 100%;
}

.channel-show-header {
  background-color: #fafafa;
  width: 100%;
}

.channel-splash-header-container {
  height: calc(100vw / 6.2 - 1px);
  width: 100%;
  z-index: -2;
  position: relative;
}

.channel-splash-header-fix {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.channel-splash-header {
  height: calc(100vw / 6.2 - 1px);
  width: 100%;
  display: block;
  object-fit: cover;
  position: fixed;
  z-index: -2;
}

.channel-show-header-bar {
  margin: 0 auto;
  max-width: 856px;
  padding-top: 16px;
}

.channel-show-header-info {
  display: flex;
  align-items: center;
}

.channel-show-header-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--profile-btn-color);
  font-size: 2em;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.channel-show-header-details {
  h2 {
    font-size: 24px;
  }

  div {
    color: #11111199;
    font-size: 14px;
  }
}

// .channel-show-header-details h2 {
//   font-size: 24px;
// }

// .channel-show-header-details div {
//   color: #11111199;
//   font-size: 14px;
// }

.channel-show-subscribe, .home-page-subscribe {
  margin-left: auto;
  margin-right: 4px;
  width: 148px;
  cursor: pointer;
}

.subscribe-button {
  background-color: red;
  color: white;
  font-weight: 500;
  letter-spacing: 0.007px;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  span {
    color: #ffffffd9;
    font-weight: 400;
  }
}

.unsubscribe-button {
  background-color: #eeeeee;
  color: hsla(0, 0%, 7%, 0.6);
  font-weight: 500;
  letter-spacing: 0.007px;
  font-size: 14px;
  text-transform: capitalize;
  // cursor: pointer;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  span {
    font-weight: 500;
  }
}

// .subscribe-button span {
//   color: #ffffffd9;
// }

.channel-show-nav {
  display: flex;
  list-style: none;
  justify-content: flex-start;

  li a {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 47px;
    padding: 10px 32px;
    text-transform: capitalize;
    border-bottom: 3px solid #fafafa;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: gray;

    &:hover {
      color: black;
    }
  }

  li a.active {
    color: black;
    border-bottom: 3px solid #11111199;
  }
}

// .channel-show-nav li a {
//   display: flex;
//   box-sizing: border-box;
//   align-items: center;
//   height: 47px;
//   padding: 10px 32px;
//   text-transform: capitalize;
//   border-bottom: 3px solid #fafafa;
//   letter-spacing: 0.5px;
//   font-weight: 500;
//   color: gray;
// }

// .channel-show-nav li a.active {
//   color: black;
//   border-bottom: 3px solid #11111199;
// }

// .channel-show-nav li a:hover {
//   color: black;
// }

.channel-videos {
  margin: 0 auto;
  width: 856px;

  .video-list {
    width: 860px;
    flex-wrap: wrap;

    li {
      margin-bottom: 24px;
    }
  }
}

.channel-videos-header {
  margin: 8px 0px;
  height: 56px;
  display: flex;
  align-items: center;
}

.channel-videos-header h3, .channel-home h3 {
  font-size: 16px;
}

.channel-videos-list {
  list-style: none;
}

// .channel-videos .video-list {
//   width: 860px;
//   flex-wrap: wrap;
// }

// .channel-videos .video-list li {
//   margin-bottom: 24px;
// }

.channel-home {
  margin: 0 auto;
  width: 100%;
  max-width: 860px;
  padding: 0 16px;
}

.channel-home-video-list {
  width: 100%;
  overflow-y: scroll;
}
