.gray-background {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

.channels-list {
  list-style: none;
  width: 100%;
  max-width: 1075px;
  padding: 0 16px;
  margin: 0 auto;
}

.channels-list a {
  color: black;
}

.channels-list-item {
  border-bottom: 1px solid lightgray;
  width: 100%;
  max-width: 1075px;
}

.channels-list-item .video-list {
  overflow: auto;
}

.channels-list-item-details {
  height: 68px;
  display: flex;
  align-items: center;
}

.channels-list-item-details h3 {
  font-size: 16px;
  margin-left: 8px;
}

.video-list {
  list-style: none;
  height: 227px;
  display: flex;
}

.video-list li a {
  display: block;
  width: 210px;
  margin-right: 5px;
}

.video-list-item-thumbnail {
  display: block;
  width: inherit;
  object-fit: cover;
  height: 118px;
}

.video-list-item-thumbnail-time {

}

.video-list-item-info h4 {
  font-weight: 500;
  margin: 8px 0px;
}

.video-list-item-details {
  font-size: 13px;
  color: gray;
}

.video-list-item-details a {
  color: gray;
}

.video-list-item-details a:hover {
  color: black;
}
